<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


      <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <title>MarketPlace</title>
  </head>
  <body>
  <div class="row">
  <div class="col-6">
  <h1><a href="{% url 'home' %}"><span class="badge bg-secondary">MarketPlace, йеай</span></a></h1>
  </div>
  <div class="col-4">
  </div>
  <div class="col-2">
  {% if user.is_staff %}
    <a href="{% url 'create' %}">Добавить товар</a>
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.first_name != '' %}
        <p>Привет, {{ user.first_name }}!</p>
    {% endif %}
    {% if not user.is_staff %}
        <a href="{% url 'profile' %}">Профиль</a>
    {% endif %}
        <p><a href="{% url 'logout' %}">Выйти</a></p>
  {% else %}
    <p>Вы не авторизованы.</p>
        <a href="{% url 'login' %}">Войти</a>
  {% endif %}
  </div>
  </div>
    </br>
    <div class="container-fluid">
            {% block content %}

            {% endblock %}
    </div>

  <script src = "datepicker-ru.js" >
  </script>



  <script>
    $(function () {

      $("#id_birthdate").datepicker({
        format: 'YYYY-MM-DD'
      });
      $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
    });
  </script>

  </body>
</html>